/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size : 16px;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

header {
    width: 1060px;
}
.header-titulo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.header-logo {
    width: 80px;
    img {
        width: 100%;
        border-radius: 50%;
    }
}
.header-menu {
    width: 80px;
    img {
        width: 100%;
    }
    :hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    } 
}


.curriculum-list {
  
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curriculum-list h2 , .detail-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0078D4;
}

.curriculum-list ul {
    list-style-type: none;
}

.curriculum-list li {
    margin-bottom: 10px;
}

.curriculum-list button {
    background: none;
    border: none;
    color: #0078D4;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    padding: 0;
    font-weight: bold;
}

.curriculum-list button:hover {
    text-decoration: underline;
}

.curriculum-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-content h2 img {
    width : 30px;
}

.detail-content p {
    /* font-size: 1rem; */
    margin-bottom: 10px;
    color: #555;
}

.detail-content a {
    color: #0078D4;
    text-decoration: none;
    font-weight: bold;
}

.detail-content a:hover {
    text-decoration: underline;
}

.vistasprevias {
    width : 300px;
}



code {
    font-family: monospace;
    color: #212529;
    background-color: #e9ecef;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.9em;
}

.carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item img {
   
   width: 50px;
    height: 100px; 
    
}

.carousel-item p {
   font-size: medium;
   font-weight: bold;
   font-style: italic;
}

/* .carousel-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.listActive {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}